# Copia este archivo como secrets.toml y completa con tus credenciales
# NO subas secrets.toml a git

[db_config]
host = "localhost"
port = 5432
dbname = "postgres"
user = "postgres"
password = "tu_password_aqui"
